body{
    background-image: url("https://images.unsplash.com/photo-1449182325215-d517de72c42d?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1200");
    background-size: 100% 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin:0;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
}
.transp{
    background: #1A2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;


}
*{
    box-sizing: border-box;
}
header{
    background-color: ;
    height: 45px;
    width: 100%;
    padding-left: 10px;
    box-shadow: 0 7px 17px #383838
}

.search{
    float: right;
    padding:4px 10px 5px 5px;
}
.searchbox{
    height: 36px;
    border-radius: 30px;
    border: hidden;
    padding-left:15px;
    background-color: rgb(51, 51, 51);
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 95%;
}
.searchbox:focus{
    color: #ffffff;
    background-image: none;
    outline: none;

}

.logo {
    color: whitesmoke;
    margin: 0;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    float: left;
    }
h1{
  margin:0;
}
h2{
    text-align: center;
    color: #fff;
    }

.container{
    position: absolute;
    top:50%;
    left:80%;
    margin-top: -215px;
    margin-left: -202.5px;
    height:430px;
    width:405px;
    z-index:5;
}

.existinguser {
    /*background-color: lightslategrey*/
    background-color: #0b4c9e;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    color: white;
    box-shadow: 0 2px 7px #000;

}
.existinguser a {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
    margin-top: 10px;
}
.right {
    float: right;
}
.newuser {
    /*background-color: lightslategrey*/
    background-color: #0b4c9e;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    box-shadow: 0 2px 7px #000;

}

.exlogin{
    border-radius: 5px;
    height:35px;
    width: 49%;
}
.newuserf{
    border-radius: 5px;
    height:35px;
    width: 100% ;
    margin-bottom: 10px;
}
#login {
    border-radius: 5px;
    height: 33px;

}
.button {
    height: 33px;
    width: auto ;
    border-radius: 5px;
    background-color: #228E77;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    }
.button:hover {
    background-color: #307F5A;
}
.button p{
    padding-top: 5px;

}
footer {
    background-color: dimgray;
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ffffff;;
    text-align: center;
}